<!-- Exporta el templates de [base.html] -->
{% extends 'core/base.html' %}
<!-- Carga carpeta static para JS CSS y IMG -->
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}

<!-- LLamo al bloque contenido insertado en [base.html] -->
{% block contenido %}
<div class="galeria">
    <h1>Fundacion Abrázame</h1>
    <br><br>
    <p>Ayúdanos a llegar a todas las residencias de niños,niñas y adolescentes. Nosotros nos encargaremos de entregarles apoyo,contención y nuevas oportunidades</p>
       <br><br>
       <h2>¿Quiénes somos?</h2>
       <br><br>
       <p>Fundación Abrázame busca generar puentes para el desarrollo integral e inclusión de los niños, niñas y adolescentes en situación de vulnerabilidad en Chile. Aquí nos reunimos quienes queremos crear un marco de protección y desarrollo para las nuevas generaciones.</p>
       <br><br>
       <div class="galeria">
           <img src="{% static 'core/img/tienda/logo niños.jpg' %}" alt="core/img/tienda/logo niños.jpg">
           <br><br>
        <p>+1.000 FAMILIAS APOYADAS CON ALIMENTOS Y OTROS INSUMOS</p>    <p>+30 FAMILIAS ORIENTADAS EN TEMAS PSICOSOCIALES</p>
        <p>+150 COLABORADORES EQUIPO ABRÁZAME</p>                        <p>+1.000 NIÑOS, NIÑAS Y ADOLESCENTES BENEFICIADOS</p>  
       </div>
</div>
{% endblock %}
<!-- FIN DEL BLOQUE -->