<!-- Exporta el templates de [base.html] -->
{% extends 'core/base.html' %}
<!-- Carga carpeta static para JS CSS y IMG -->
{% load static %}
<!-- LLamo al bloque contenido insertado en [base.html] -->
{% block contenido %}
        <h2>Galería de nuestra tienda</h2>
           <br><br>
           <div class="galeria">
                <a data-fancybox="gallery" href="{% static 'img/tienda/tienda1.jpg'%}"><img src="{% static 'img/tienda/tienda1.jpg'%}"></a>
                <a data-fancybox="gallery" href="{% static 'img/tienda/tienda2.jpeg'%}"><img src="{% static 'img/tienda/tienda2.jpeg'%}"></a>
                <a data-fancybox="gallery" href="{% static 'img/tienda/tienda3.jpg'%}"><img src="{% static 'img/tienda/tienda3.jpg'%}"></a>
                <a data-fancybox="gallery" href="{% static 'img/tienda/tienda4.jpg'%}"><img src="{% static 'img/tienda/tienda4.jpg'%}"></a>
                <a data-fancybox="gallery" href="{% static 'img/tienda/tienda5.jpg'%}"><img src="{% static 'img/tienda/tienda5.jpg'%}"></a>     
           </div>
{% endblock %}
<!-- FIN DEL BLOQUE -->