<!-- Exporta el templates de [base.html] -->
{% extends 'app/base.html' %}
<!-- Carga carpeta static para JS CSS y IMG -->
{% load static %}

{% block css %}
{% endblock %}

<!--INICIO DEL BLOQUE HERABLE-->
{% block js %}

{% endblock %}
<!--FIN DEL BLOQUE HEREDABLE-->

<!-- LLamo al bloque contenido insertado en [base.html] -->
{% block contenido %}
<br>
<br>
<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <center>
                <h1>Miembros Guetto Garden</h1>
            </center>
            <br>
            <center>
                <h4>¡Se parte de nuestra comunidad.</h4>
                <br>
                <h5>Te invitamos a ser parte del movimiento Guetto Garden, junto a ello podras acceder a productos que son indispensables para tu jardin, ademas podras realizar la venta de tus productos cultivados en el huerto de tu hogar. Contamos con concursos mensuales a nuestros seguidores mas activos promoviendo el cultivo consiente, libre de parabenos y pesticidaz.</h5>
            </center>
        </div>    
    </div>
</div>
{% endblock %}
<!-- FIN DEL BLOQUE -->