<!-- Exporta el templates de [base.html] -->
{% extends 'app/base.html' %}
<!-- Carga carpeta static para JS CSS y IMG -->
{% load static %}

{% block css %}
{% endblock %}

<!--INICIO DEL BLOQUE HERABLE-->
{% block js %}

{% endblock %}
<!--FIN DEL BLOQUE HEREDABLE-->

<!-- LLamo al bloque contenido insertado en [base.html] -->
{% block contenido %}
<br>
<br>
<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <center>
                <h1>Fundacion Abrazame</h1>
            </center>
            <br>
            <center>
                <h4>Unete por una buena causa</h4>
                <br>
                <p>Ayúdanos a llegar a todas las residencias de niños,niñas y adolescentes. Nosotros nos encargaremos de entregarles apoyo,contención y nuevas oportunidades</p>
                <br>
                <div class="container">
                    <div class="row">

                        <div class="col">   
                            <img src="{% static 'app/img/dona1.png' %}" class=""> 
                        </div>

                        <div class="col">
                            <br>
                            <br>
                            <br>
                            <br>
                            <p class="consectetur_text">+1.000 FAMILIAS APOYADAS CON ALIMENTOS Y OTROS INSUMOS</p>
                            <p class="consectetur_text">+30 FAMILIAS ORIENTADAS EN TEMAS PSICOSOCIALES</p>
                            <p class="consectetur_text">+150 COLABORADORES EQUIPO ABRÁZAME </p>
                            <p class="consectetur_text">+1.000 NIÑOS, NIÑAS Y ADOLESCENTES BENEFICIADOS</p>
                        </div>    						
            </center>
            <br>
            <center>
                <h2>Ahora es tu turno {{user.username}}</h2>
                <p>Ingresa al siguiente link para redigirirte al portal de donacion donde podras efectuar tu pago electronico.</p>
            </center>
            
            <br>

        </div>

    </div>
    <!--FIN DEL CARD BODY-->
</div>
{% endblock %}
<!-- FIN DEL BLOQUE -->