<!-- Exporta el templates de [base.html] -->
{% extends 'app/base.html' %}
<!-- Carga carpeta static para JS CSS y IMG -->
{% load static %}

{% block css %}
{% endblock %}

<!--INICIO DEL BLOQUE HERABLE-->
{% block js %}

{% endblock %}
<!--FIN DEL BLOQUE HEREDABLE-->

<!-- LLamo al bloque contenido insertado en [base.html] -->
{% block contenido %}
<br>
<br>
<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <center>
                <h1>BURGUER TEAM</h1>
            </center>
            <br>
            <center>
                <h4>Unete a la comunidad de la hamburguesa</h4>
                <br>
                <p>Unete ya a nuestra comunidad de faster food, tenemos los mejores descuentos, los mejores y exclusivos menus de nuestro team de la cocina a tu mesa</p>
                <br>
                <div class="container">
                    <div class="row">

                        <div class="col">   
                            <img src="{% static 'app/img/vip.png' %}" class=""> 
                        </div>

                        <div class="col">
                            <br>
                            <br>
                            <br>
                            <br>
                            <p class="consectetur_text">+60 DESPACHOS MENSUALES DISPONIBLES</p>
                            <p class="consectetur_text">+30 MENUS PERSONALIZADOS</p>
                            <p class="consectetur_text">+150 COCINEROS EXPERTOS </p>
                            <p class="consectetur_text">+100 CUPONES EXCLUSIVOS EN TODA LA TEMPORADA</p>
                        </div>
                    </div>
                </div>            						
            </center>
            <br>
            <hr>
            <center>
                <h2>¡ACCEDE A LOS BENEFICIOS YA! {{user.username}}</h2>
                <p>Ingresa al siguiente link para redigirirte al portal de miembros donde podras efectuar tu pago electronico.</p>
                <img src="{% static 'app/img/member.png' %}" class="logo"> 
            </center>
            <br>
            <div class="container">
                <div class="row">
    
                    <div class="col">
                        <center><a href="{% url 'compras' %}"><button type="button" class="btn btn-info btn-lg boto">Donar Aqui</button></a></center>   
                        
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--FIN DEL CARD BODY-->
</div>
{% endblock %}
<!-- FIN DEL BLOQUE -->