<!-- Exporta el templates de [base.html] -->
{% extends 'app/base.html' %}
<!-- Carga carpeta static para JS CSS y IMG -->
{% load static %}

{% block css %}
{% endblock %}

<!--INICIO DEL BLOQUE HERABLE-->
{% block js %}

{% endblock %}
<!--FIN DEL BLOQUE HEREDABLE-->

<!-- LLamo al bloque contenido insertado en [base.html] -->
{% block contenido %}
<!--INICIO CARRUSEL-->
<!-------------------------------------------------------------------------------------------------------------------------------------------->
<br>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <center><a href="{% url 'tienda' %}"><img src="{% static 'app/img/tienda/hamburguesa1.jpg' %}" class="rounded carrusel mx-auto"></a></center>
        
        <div class="container">
          <div class="carousel-caption">
            <h1>Hamburguesa Clasica.</h1>
            <h4>"Aprovecha la seleccion clasica de nuestro local, te encantara."</h4>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <center><a href="{% url 'tienda' %}"><img src="{% static 'app/img/tienda/hamburguesa2.jpg' %}" class="rounded carrusel mx-auto"></a></center>

        <div class="container">
          <div class="carousel-caption">
            <h1>Hamburguesa Signature.</h1>
            <h4>"Ya esta aqui la yojita de nuestra seleccion de hamburguesas."</h4>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <center><a href="{% url 'tienda' %}"><img src="{% static 'app/img/tienda/hamburguesa3.jpg' %}" class="rounded carrusel mx-auto"></a></center>

        <div class="container">
          <div class="carousel-caption">
            <h1>Double Chesse.</h1>
            <h4>"Pide ahora tu double cheese la mejor selecciones en queso gratinado."</h4>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!--FIN CARRUSEL-->
<!-------------------------------------------------------------------------------------------------------------------------------------------->
<!--INICIO BENEFICIOS-->
<br>
<div class="card" >
    <div class="card-body">
        <div class="container-fluid">
            <center>
                <h1>Faster Food Team</h1>
            </center>
            <br>
            <center>
                <h4>¡Se parte de nuestro team burguer!.</h4>
                <br>
                <h5>Te invitamos a ser parte del team burguer, junto a ello podras acceder increibles ofertas que enviaremos a tu email, ademas podras pagar una membresia para realizar pedidos con despacho gratis. Contamos con concursos mensuales a nuestros seguidores mas activos.</h5>
            </center>
            
        </div>
        <br>
        <center><a href="{% url 'registro' %}"><button type="button" class="btn btn-info btn-lg boto">Registrate</button></a></center>
        <hr>
        <br>
        <br>
        <center>
            <h1>Members Burguers team</h1>
        </center>
        <br>
        <br>
        <!--INICIO PRIMERA SECCION DEL CARD BODY-->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <center>
                        <h2>Premios</h2>
                        <img src="{% static 'app/img/tienda/gift-card.png' %}" class="logo">
                        <br>
                        <p>Con tan solo tener tu membresia automaticante estan participando por los premios que regalamos a nuestros usuarios de forma mensual, atento a tu correo o bandeja de entrada en tu perfil.</p>
                    </center>
                    
                </div>
                <div class="col-md-6">
                    <center>
                        <h2>Ofertas</h2>
                        <img src="{% static 'app/img/tienda/coupon.png' %}" class="logo">
                        <br>
                        <p>Otorgamos ofertas unicas aquellos clientes que frecuentan nuestro sitio web, comparte ofertas para nuevas recompensas "sujeto a disponibilidad".</p>
                    </center>
                   
                </div>
            </div>
        </div>
        <!--FIN PRIMERA SECCION DEL CARD BODY-->
        <br>
        <!--INICIO SEGUNDA SECCION DEL CARD BODY-->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <center>
                        <h2>Tienda</h2>
                        <img src="{% static 'app/img/tienda/store.png' %}" class="logo">
                        <br>
                        <p>Registrate con tus datos y accede a nuestra tienda, la cual cuenta con productos para tu menu del dia, ademas podras acceder a ofertas en el sitio web como en la tienda.</p>
                    </center>
                    
                </div>
                <div class="col-md-6">
                    <center>
                        <h2>Foro Recetas</h2>
                        <img src="{% static 'app/img/tienda/conversation.png' %}" class="logo">
                        <br>
                        <p>Creamos esta seccion para miembros de team burguers para compartir recetas unicas y exclusivas en distintas temporadas del año.</p>
                    </center>
                    
                </div>
                <hr>
            </div>
        </div>
        <br>
        <br>
        <!--FIN SEGUNDA SECCION DEL CARD BODY-->
        <center>
          <h1>Ayudar no cuesta nada</h1>
          <br>
          <br>
          <img src="{% static 'app/img/tienda/help.png' %}" class="logo">
          <br>
          <br>
          <p>En nuestra comunidad nos ayudamos entre todo, es por ello que en esta oportunidad nos toca ayudar a los ni;os, con un peque;o aporte voluntario, para mas informacion inicia seccion con tu cuenta en el siguiente boton dando click.</p>
          <br>
          <center><a href="{% url 'fundacion' %}"><button type="button" class="btn btn-info btn-lg boto">Mas Info Aqui</button></a></center>
        
        </center>

      
    </div>
</div>
<!--INICIO BENEFICIOS-->
<!-------------------------------------------------------------------------------------------------------------------------------------------->


{% endblock %}
<!-- FIN DEL BLOQUE -->