<!-- Exporta el templates de [base.html] -->
{% extends 'app/base.html' %}
<!-- Carga carpeta static para JS CSS y IMG -->
{% load static %}

{% block css %}
{% endblock %}

<!--INICIO DEL BLOQUE HERABLE-->
{% block js %}

{% endblock %}
<!--FIN DEL BLOQUE HEREDABLE-->

<!-- LLamo al bloque contenido insertado en [base.html] -->
{% block contenido %}

<br>
<div class="card" >
    <div class="card-body">
        <div class="container-fluid">
            <h2>Jardines Destacados del mes</h2>
            <p>Destacamos los jardines mas verdes del verano, cada seleccionado recivira un premio de nuestra tienda, valoramos el cariño a nuestra comunidad</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>col-md-6</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, numquam facere! Pariatur aspernatur veritatis, totam nulla ad suscipit, dolores sunt nostrum facere nemo numquam repellat quod eaque similique quam vero.</p>
                </div>
                <div class="col-md-6">
                    <h2>col-md-6</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, numquam facere! Pariatur aspernatur veritatis, totam nulla ad suscipit, dolores sunt nostrum facere nemo numquam repellat quod eaque similique quam vero.</p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
<!-- FIN DEL BLOQUE -->