<!-- Exporta el templates de [base.html] -->
{% extends 'app/base.html' %}
<!-- Carga carpeta static para JS CSS y IMG -->
{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
 <script>
        $(document).ready(function() {
          $('.slider').bxSlider({
              mode: 'fade',//horizontal, vertical, fade
              auto: true,
              pause: 2000
          });
        });
    </script>
{% endblock %}

{% block css %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}

<!-- LLamo al bloque contenido insertado en [base.html] -->
{% block contenido %}
{% load humanize %}
<br>
<br>

<div class="card">
    <div class="card-body">
        <center><h1 style="font-family: 'Lucida Sans';">PRODUCTOS</h1></center>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div style="font-family: 'Lucida Sans';" class="productos">
            {% for p in entity %}
            <div class="producto">
                
                <div class="contenedor_producto">
                    {% if p.imagen %}
                    <img src="{{ p.imagen.url }}" alt="imagen producto">
                    {% endif %}
                    <div style="font-family: 'Lucida Sans';" class="detalle">
                        <h5>{{p.categoria | capfirst}}</h5>
                        <h2>{{p.nombre | title }}</h2>
                        <h3>${{p.precio | intcomma }}</h3>
                        <center>
                            <a href="{% url 'pago' %}" class="btn btn-primary btn-sm">Comprar</a>
                        </center>
                    </div>
                    
                </div>
                
            </div>
            {% endfor %}      
        </div>
    </div>
</div>




{% endblock %}
<!-- FIN DEL BLOQUE -->