<!-- Exporta el templates de [base.html] -->
{% extends 'app/base.html' %}
<!-- Carga carpeta static para JS CSS y IMG -->
{% load static %}
<!-- LLamo al bloque contenido insertado en [base.html] -->
{% block js %}

    <script>
        function eliminarProducto(id) {
            Swal.fire({
                "tittle": "¿Estas seguro?",
                "text" : "Esta accion no se puede deshacer.",
                "icon" : "question",
                "showCancelButton" : true,
                "cancelButtonText" : "Cancelar",
                "confirmButtonText" : "Si, Eliminar",
                "confirmButtonColor" : "#dc3545"
            })
            .then(function(result) {
                if(result.isConfirmed) {
                    window.location.href = "/eliminar-producto/"+id+"/"
                }
            })
        }
    </script>

{% endblock %}
{% block contenido %}
{% load humanize %}
<br>
<br>
<div class="card">
    <div class="card-body">
        <h2>LISTADO DE PRODCUTOS</h2>
        <hr>
        <table class="table table-striped tabl-hover table-responsive-sm"> 
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Opciones</th>
            </tr>

            {% for p in entity %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nombre | title }}</td>
                <td>${{ p.precio | intcomma }}</td>
                <td>{{ p.categoria | title }}</td>
                <td>
                    <!--VALIDA SI EL USUARIO INGRESADO TIENE PERMISOS PARA MODIFICAR LOS PRODUCTOS-->
                    {% if perms.core.change_producto %}
                    <a href="{% url 'modificar_producto' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                    {% endif %}
                    <!--VALIDA SI EL USUARIO INGRESADO TIENE PERMISOS PARA ELIMINAR LOS PRODUCTOS-->
                    {% if perms.core.delete_producto %}
                    <a onclick="eliminarProducto({{p.id}})" class="btn btn-danger btn-sm">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

        </table>
        <div>
            {% include 'app/paginator.html' %}
        </div>
    </div>
</div> 
{% endblock %}
<!-- FIN DEL BLOQUE -->